venv
.venv
__pycache__/        
*.pyc
*.pyo

# Ignore the .env file if it contains sensitive information
.env        
# Ignore the .vscode directory if it contains workspace settings                                                                
.vscode/

# Ignore the .idea directory if it contains IDE settings
.idea/

# Ignore the .pytest_cache directory if it contains pytest cache files
.pytest_cache/
# Ignore the .mypy_cache directory if it contains mypy cache files
.mypy_cache/        
# Ignore the .coverage file if it contains coverage data
.coverage   
